# Directories/Files (top-level) -----------------------------------------------
/.gradle/
/.idea/
/.metadata/
/.settings/
/.ssh/

/application/
/userProjects/

/gradle.properties
/setenv*

# Directories/Files (all-levels) ----------------------------------------------
**/.cmake/
**/bin/
**/build/
**/.gradle/

# 3rd-Party Libraries ---------------------------------------------------------
/src/common/parser/antlr4/*
# Patched version of ANTRL runtime sources currently checked in
!/src/common/parser/antlr4/antlr4-cpp-runtime-4.9.2-source.zip
/src/common/persistence/xerces/
