.cmake/
.gradle/
.idea/
.settings/
.ssh/
bin/
build/
userProjects/
*.bat
setenv*
/application/bin/
/application/generator
/application/include/
/application/lib/
/application/tools/gradle
/application/tools/gradlew
/application/tools/gradlew.bat
/gradle.properties
xerces
/.metadata/
