src_gen/
application/

**/model/build.gradle
/fUMLExamples/**/.cproject
/fUMLExamples/**/.project
/fUMLExamples/**/build.gradle
/commonExamples/SubsetUnionExample/**/.cproject
/commonExamples/SubsetUnionExample/**/.project
/commonExamples/SubsetUnionExample/**/build.gradle
**/*Model*/.cproject
**/*Model*/.project
**/*Model*/build.gradle
